{% extends "base.html" %}
{% block title %}File Info{% endblock %}
{% block content %}
            <h1>Metadata</h1>
            <div class="p-2">

                <table class="table">

                    <tr>
                        <td>Title</td><td>{{ title }}</td>
                    </tr>

                    <tr>
                        <td>Format</td><td>{{ format }}</td>
                    </tr>

                    <tr>
                        <td>Author</td><td>{{ author }}</td>
                    </tr>

                    <tr>
                        <td>Creator</td><td>{{ creator }}</td>
                    </tr>

                    <tr>
                        <td>Producer</td><td>{{ producer }}</td>
                    </tr>

                    <tr>
                        <td>Created</td><td>{{ creationDate }}</td>
                    </tr>

                    <tr>
                        <td>Modified</td><td>{{ modDate }}</td>
                    </tr>

                    <tr>
                        <td>Page count</td><td>{{ pgCount }}</td>
                    </tr>

                </table>
            

            </div>
{% endblock %}
