{% extends "base.html" %}
{% block title %}Upload File{% endblock %}
{% block content %}
            <h1>File Upload</h1>
            <div class="p-2">

                <form action="getfile" method="POST" enctype="multipart/form-data">
                    <input type="file" id="input" name="input" />
                    <select name="mode">
                        <option value="meta" selected>Metadata</option>
                        <option value="text">Extract Text</option>
                        <option value="images">Extract Images</option>
                        <option value="tables">Extract Tables</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>

            </div>
{% endblock %}
